
.footer {
    background-color: #000;
    padding: 3em 4em 2em;
}


#copyright {
    text-align: center;
    color:#fff;
    font-family: lato;
}

#owner {
    text-align: center;
    padding: 20px 0 0px;
    color: #fff;
    font-family: lato;
}

    #owner a {
        color:#fff;        
    }